.section_gallery {
    margin: auto;
    padding: 20px;

    .section_gallery__intro {
        text-align: center;

        .section_gallery__subtitle {
            padding: 10px;
        }
    }

    .section_gallery__gallery_box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .section_gallery__box_double {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .section_gallery__img_s {
                object-fit: cover;
                object-position: center;
                height: 300px;
                width: 300px;

                @media (min-width: 1200px) {

                    filter: grayscale(30%);
                    transition: .2s ease;
                    height: 300px;
                    width: 300px;

                    &:hover {
                        filter: grayscale(0%);
                    }
                }
            }
        }

        .section_gallery__img_b {
            object-fit: cover;
            object-position: center;
            height: 300px;
            width: 300px;

            @media (min-width: 1200px) {
                filter: grayscale(30%);
                transition: .2s ease;
                height: 600px;
                width: 70%;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }

        &:nth-child(2) {
            flex-direction: row-reverse;
        }
    }

    * img {
        padding: 10px;
    }
}